$primary: #7151a9;

@import "~bootstrap/scss/bootstrap.scss";

.text-primary-gradient {
  background: linear-gradient(to bottom, #c7adff 0%, #7151a9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.introduction-parent {
  background-image: url("../public/stacked-waves-haikei-3.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
